<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="D:\task\layout\with float\Untitled-1.css">
        <title>layout</title>
    </head>
    <body>
        <div class="header">
            <h1>My Website</h1>
        </div>

       <div class="navbar">
            <a href="#">Link</a>
            <a href="#">Link</a>
            <a href="#">Link</a>
            <a href="#">Link</a>
        </div>
         
        <div class="content">
           <div class="left">
                <div class="left-1">
                    <h3>TITLE HEADING</h3>
                    <p>Title description, Dec 7, 2017</p>
                    <div class="image" style="height:100px;">Image</div>
                    <p>Some text..</p>
                </div>
            
                <div class="left-2">
                    <h3>TITLE HEADING</h3>
                    <h5>Title description, Sep 2, 2017</h5>
                    <div class="image" style="height:100px;">Image</div>
                    <p>Some text...</p>
                </div>
           </div>

            <div class="right">
                <div class="part-one">
                    <h3>About Me</h3>
                    <div class="image" style="height:60px;">Image</div>
                    <p>some text about me</p>
                </div>
               
                <div class="part-two">
                    <h3>Popular Post</h3>
                    <div class="image" style="height:60px;">Image</div>
                    <div class="image" style="height:60px;">Image</div>
                    <div class="image" style="height:60px;">Image</div>
                    <p>some text about me</p>
                </div>
                
                <div class="part-three">
                    <h5>Follow me</h5>
                    <p>Some text</p>
                </div>
            </div>
        </div>
    
        <div class="footer">
            <h2>Footer</h2>
        </div>
    
    </body>
</html>